@model RnD.KendoUISample.Models.Category
@using (Ajax.BeginForm("Edit", "Category", null,
        new AjaxOptions
        {
            UpdateTargetId = "editCategoryMess",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "AjaxSuccess('editCategoryMess', 'editCategoryDialog', 'commonMessage', 'Category Edited.')",
        }, new { @id = "editCategoryForm" }))
{
    <fieldset>
        <legend>Category:</legend>
        @Html.ValidationSummary(true)
        <div id="editCategoryMess" class="error invisible">
        </div>
        @Html.HiddenFor(model => model.CategoryId)
        <div class="editor-field">
            <strong>@Html.LabelFor(model => model.Name): </strong>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </fieldset>
}
